body{
	background-color: #F4EFD9
}

.section {
  padding: 1em 0;
}

.header {
  background: linear-gradient(to bottom, #194375 0%, #264875 100%);
  color: #DCDDD8;
  padding: 1em;
}

.footer {
  background: linear-gradient(to bottom, #194375 100%, #264875 0%);
  color: #DCDDD8;
  padding: 1em;
}

.head{
	font-weight: bold;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

.f3{
	stroke: #E74C3C;
	fill: none;
	stroke-width: 4;
}

.f3text{
	color: #E74C3C;
	font-weight: 800;
}

#f3b{
	border-color: #E74C3C;
	background-color: #E74C3C;
	opacity: .75;
}

#f3circ{
	fill: #E74C3C;
	stroke: #000000;
}

.f3x{
	stroke: #3498DB;
	fill: none;
	stroke-width: 4;
}

.f3xtext{
	color: #3498DB;
	font-weight: 800;
}

#f3xb{
	border-color: #3498DB;
	background-color: #3498DB;
	opacity: .75;
}

#f3xcirc{
	fill: #3498DB;
	stroke: #000000;
}

.f5{
	stroke: #D8DB58;
	fill: none;	
	stroke-width: 4;
}

.f5text{
	color: #D8DB58;
	font-weight: 800;
}

#f5b{
	border-color: #D8DB58;
	background-color: #D8DB58;	
	opacity: .75;
}

#f5circ{
	fill: #D8DB58;
	stroke: #000000;
}

#all{
	opacity: .75;
}
.inactivef3{
	stroke: #E74C3C;
	opacity: .3;
	fill: none;
}

.inactivef3x{
	stroke: #3498DB;
	opacity: .3;
	fill: none;
}

.inactivef5{
	stroke: #D8DB58;
	opacity: .3;
	fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
	stroke: #000000;
}

.tooltip {
        height: auto;
        padding: 10px;
        opacity: 1;
}

.y.axis .domain {
    display: none;
}