body{
	background-color: #F4EFD9
}

.section {
  padding: 1em 0;
}

.header {
  background: linear-gradient(to bottom, #194375 0%, #296FC1 100%);
  color: #83BCFF;
  padding: 1em 0 2em;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

.f3{
	stroke: #E74C3C;
	fill: none;
}

#f3b{
	border-color: #E74C3C;
	background-color: #E74C3C;
	opacity: .75;
}

.f3x{
	stroke: #3498DB;
	fill: none;
}

#f3xb{
	border-color: #3498DB;
	background-color: #3498DB;
	opacity: .75;
}

.f5{
	stroke: #D8DB58;
	fill: none;	
}

#f5b{
	border-color: #D8DB58;
	background-color: #D8DB58;	
	opacity: .75;
}